/* Load fonts */
@font-face {
  font-family: 'Particle';
  src:  url('../fonts/Particle-Regular.otf')
}

@font-face {
  font-family: 'SF Pro Display';
  src:  url('../fonts/SFProDisplay-Regular.ttf')
}

@font-face{
  font-family: 'SF Regular';
  src: url('../fonts/SF-UI-Text-Regular.otf');
}

/* Format body */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303234;
  color: white;
}

/* Format paragraphs */
p{
  font-family: "SF Pro Display";
}

/* Header formattting */
h1, h2{
  font-family: 'Particle';
  font-size: 1.5em;
  color: whitesmoke;
  letter-spacing: 3px;
}

/* Format links and h3 */
a, h3{
  font-family: 'SF Regular';
  color: whitesmoke;
}

/* Paper resource title */
.resourceTitle{
  color: whitesmoke;
}

/* Paper resource info */
.resourceInfo{
  font-family: 'SF Regular';
  color: whitesmoke;
  
}

/* Style header */
.navbar{
  padding: 10px;
  margin: 10px;
  font-family: 'Particle';
  font-size: 1.5em;
  color: whitesmoke;
  letter-spacing: 3px;
}

/* Canned reponses for voice control */
.cannedResponseText{
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  margin: 20px;

  letter-spacing: 0.1em;

  color: whitesmoke;
}

/* Styling for different screen widths */
@media only screen and (max-width: 600px) {
  #cannedResponses{
    /* max-width: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  canvas{
    width: 200px;
  }

  header{
    width: 200px;
    font-size: 1em;
  }

}

@media only screen and (min-width: 600px) {
  #cannedResponses{
    /* max-width: 300px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

/* Contains page content under header */
.maindiv{
  display: flex;
  flex-direction: column;
}

/* Page buttons */
button{
  font-family: "SF Pro Display";
  font-size: 1em;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 12px;
  border-radius: 50px;
  margin-top: 20px;
  margin-right: 20px;
  background-color: #303234;
  color: whitesmoke;
  border: none;
  box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.4), -9px -9px 16px rgba(73, 73, 73, 0.6);

}

/* Container for research papers shown */
.pageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for individual paper resources */
.resource{
  display: flex;
  flex-direction: column;
  padding: 12px 36px; 
  justify-content: left;
  margin: 20px;
  width: 50%;
  background-color: #303234;
  border-radius: 24.8921px;
  color: #333333;
  box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.4), -9px -9px 16px rgba(73, 73, 73, 0.4), inset 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: left;
  align-items: flex-start
}

/* Format links */
a {
  text-decoration: none;
  font-family: "SF Pro Display";
  font-size: 1em;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 12px;
  border-radius: 50px;
  margin: 15px 15px;
  background-color: #303234;
  color: whitesmoke;
  border: none;
  box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.4), -9px -9px 16px rgba(73, 73, 73, 0.6);
}


/* Style View Paper button */
.resourceButton{
  margin-left: 0px;
  margin-top: 8px;
}


/* Wrapper for instructions block */
#instructions{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* Block that contains instructions */
.instructionBlock{
  display: flex;
  flex-direction: column;
  padding: 12px 36px;
  justify-content: left;
  width: 50%;
  background-color: #303234;
  border-radius: 24.8921px;
  color: #333333;
  box-shadow: 9px 9px 16px rgba(0, 0, 0, 0.4), -9px -9px 16px rgba(73, 73, 73, 0.4), inset 2px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: left;
  align-items: flex-start
}